.header {
    background: rebeccapurple;
    color: white;
    position: 'fixed';
    z-Index: 1;
    width: '100%';
    top: 0;
    left: 0;
}

.div {
    padding-left: 20;
    padding-right: 20;
    margin-left: 'auto';
    margin-right: 'auto';
}

.h1 {
    margin: 0
}